body {
    font-family: 'ubuntu';
    background: rgb(28, 16, 68);
    color: rgb(13, 110, 175);
    text-align: center
}
h1 {
    padding: 25px;
    font-size: 7rem;
}
h2 {
    padding: 15px;
    font-size: 3rem;
}
#game {
    padding: 35px;
    font-size: 3rem;
}
p{
    padding: 10px;
}
#footer {
    padding: 40px;
}